@CHARSET "UTF-8";

html, body, header, div, nav, ul, li, section, article, span,
h2, h3, h4, h5, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'NanumGothic';
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.clear {
    clear: both;
}

/*<--------------------------------------------------------->*/

#top_line {
    height: 3px;
    background-color: #02a5af;
}
#top_back {
    background-color: #f8f8f8;
    height: 30px;
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
}
#small_nav {
    width: 1000px;
    margin: 0 auto;
}
#small_nav > a {
    font-size: 12px;
    color: #999;
}
#small_nav > span {
    font-size: 8px;
    padding-left: 10px;
    padding-right: 5px;
    color: #ccc;
}
#header > nav {
    width: 1000px;
    margin: 0 auto;
}
#header > nav > ul > li {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
#logo {
    padding-right: 30px;
}
#logo > a {
    color: #02a5af;
    font-weight: bold;
    font-size: 26px;
}
.nav_text {
    padding-left: 40px;
    margin-top: 6px;
}
.nav_text > a{
    color: #111;
    font-size: 16px;
    font-weight: 600;
}
#nav_text_color {
    padding-left: 40px;
    margin-top: 6px;
}
#nav_text_color > a {
    color: #02a5af;
    font-weight: 600;
}
#nav_line {
    height: 2px;
    background-color: #ddd;
}